body{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

h1{
  overflow: hidden;  
  border: 2px solid gainsboro; 
  background-color: gainsboro;
}

.bg-violet{
    background-color: pink;
    color: firebrick;
    display: flex;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    margin-right: 30px;
    margin-left: 30px;
}

.input-formcss{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    margin-left: 30px;
}

.mb-3{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
    margin-right: 30px;
    margin-left: 30px;
}

.mb-4{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start; 
    margin-right: 30px;
    margin-left: 30px; 
}

.col-auto{
    display: flex;
    padding-top: 5px;
    gap: 10px;                                                     
}

